.p-image_preview {
  width: 100vw;
  height: calc(100vh - 0px);
  position: fixed;
  bottom: 0;
  z-index: 1000;
  right: 0;

  &-active {
    transform: translateX(0);
    background-color: #333;
    transition: transform 0.3s linear;
  }

  &-hide {
    transform: translateX(100vw);
    transition: transform 0.2s linear;
  }
  &_header {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 20px;
    background-color: var(--blue);
    position: relative;
    height: 50px;

    &_close {
      position: absolute;
      left: 12px;
      width: 60px;
    }

    .zaui-icon {
      color: var(--red);
    }
  }

  &_body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 90vh;
    position: relative;
  }

  &_main {
    position: relative;
    height: 75vh;
    display: flex;
    align-items: center;
    .react-transform-component,
    .react-transform-wrapper {
      height: 100%;
      display: flex;
      align-items: center;

      .img {
        height: fit-content;
      }
    }

    &_button {
      position: absolute;
      top: 42%;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 0px;

      & > * {
        background-color: rgba(131, 131, 131, 0.501);
        height: 70px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        z-index: 1000;
      }

      .zaui-icon {
        font-size: 32px;
        height: 70px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        color: var(--white);
      }
    }
  }

  &_thumbnail {
    position: fixed;
    bottom: 10px;
    width: 100vw;
    overflow-x: scroll;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;

    &-flex {
      justify-content: flex-start;
    }

    &_item {
      width: 140px;
      max-width: unset;
      transform: scale(0.8);
      img {
        width: 140px;
        object-fit: cover;
        max-width: unset;
        outline: 2px solid var(--white);
        border-radius: 4px;
        padding: 4px;
      }

      &-active {
        border-radius: 4px;
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
        outline: 1px solid var(--red) !important;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .center-thumbnail {
    transform: scale(1.1);
    z-index: 2;
    transition: all 0.3s ease;
  }

  .zaui-image-viewer-close-button {
    background-color: var(--white);
    color: var(--black);
    border-radius: 6px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
}
