.a-collapse_custom {
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  
  &_header {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    background-color: #fff;
    overflow: hidden;
    gap: 4px;

    &_left {
      display: flex;
      align-items: center;
      gap: 12px;

      img {
        height: 24px;
      }
    }

    &_right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 8px;

      &_icon {
        .zaui-icon {
          transform: rotate(180deg);
          transition: transform 0.2s ease;
        }
      }

      p{
        color: #c4c1c1;
      }
    }
  }
  &_body {
    padding: 12px 12px 20px 12px;
    min-height: 0;
    transition: min-height 0.3s ease;
    position: relative;
    z-index: 1;

  }

  &-open {
    animation: show-collapse 0.3s ease;
    transition: animation 0.3s ease;

    .a-collapse_custom_header_left {
      span {
        font-weight: 600;
      }
    }

    .a-collapse_custom_header_right_icon {
      .zaui-icon {
        transform: rotate(90deg);
        transition: transform 0.2s ease;
      }
    }

    .a-collapse_custom_body {
        border-top: 1px solid #dbdbdb;
        min-height: 50px;
        transition: min-height 0.3s ease;
    }
    .a-collapse_custom_header {
      padding-bottom: 8px;
    }
  }
}
